<h1>Todos list</h1>
<div class="container">
  <button class="btn btn-success" (click)="addNewTodo()">Add new</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>is Done?</th>
        <th>Expect date</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos ">
        <td>{{todo.id}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.done}}</td>
        <td>{{todo.targetDate | date | uppercase}}</td>
        <td>
          <button class="btn btn-success" (click)="updateTodo(todo)">Update</button>
        </td>
        <td>
          <button class="btn btn-warning" (click)="removeTodo(todo)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
