<h1>Todo</h1>
<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="todoForm.valid && saveTodo()">
  <fieldset class="form-group">
    <label>Description</label>
    <input formControlName="description" class="form-control" type="text">
  </fieldset>
  <fieldset class="form-group">
    <label>Date</label>
    <input class="form-control" formControlName="targetDate" type="date" [value]="todoForm.get('targetDate')?.value | date:'yyyy-MM-dd' ">
  </fieldset>
  <input type="submit" class="btn btn-success" value="Save">
  </form>
</div>
