<h1>Todo list</h1>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<button class="btn btn-success" (click)="addNewTodo()">Add new</button>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Expect Date</th>
      <th>is Completed?</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date | uppercase}}</td>
      <td>{{todo.done}}</td>
      <td>
        <button class="btn btn-success" (click)="updateTodo(todo)">Update</button>
      </td>
      <td>
        <button class="btn btn-warning" (click)="deleteTodo(todo)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator
  [pageSizeOptions]="[3,5,10]"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  [length]="totalElements"
  (page)="handleEvent($event)"></mat-paginator>
